$font-family: 'Proxima Nova', Arial, sans;

$black-color: #1C1D1F;
$medium-color: #8D9FB7;
$white-color: #FFFFFF;
$blue-dark-color: #004199;
$blue-color: #006CFE;
$blue-middle-color: #80B6FF;
$blue-light-color: #D5E7FF;
$blue-super-light-color: #EDF5FF;
$green-color: #01AA88;
$red-color: #FF0000;
$orange-color: #FFA200;